@using PadelScore.Components.Shared
@using PadelScore.Utils.Tokens

<div class="court-card-home @(Compact ? "home-compact" : "")" style="background:@(Background ?? Court.ColorBackground)">
	@if (Compact)
	{
		<div class="court-card-home">
            <div class="court-image-wrapper-home">
                <img src="Images/Padel.png" alt="Padel Court" class="court-image-home" />
			</div>
			<div class="court-info">
				<div class="court-name-row">
					<span class="court-name">@Court.Name</span>
					@if (ShowAvailability)
					{
						 @if (Court.IsAvailable)
							{
								<span class="availability-dot-green"></span>
							}else
							{
								<span class="availability-dot-red"></span>
							}
					}
				</div>
				<div class="court-details">
					<span class="court-type" style="color: gray">@Court.Type</span>
					<span class="court-surface-home">@Court.Surface</span>
				</div>
				<div class="court-price">@Formatter.FormatCurrency(Court.Price)/hr</div>
				<PrimaryButton Disabled="!Court.IsAvailable" OnClick="() => OnBook.InvokeAsync(Court)">
					@(Court.IsAvailable ? "Quick Book" : "Full")
				</PrimaryButton>
			</div>
		</div>
	}
	else
	{
		<div class="court-header">
			<div class="court-image-wrapper">
				<img src="@Court.PathImage" alt="@Court.Name" class="court-image" />
			</div>
			<div class="court-title">
				<div class="court-name-row">
					<h3>@Court.Name</h3>
					@if (ShowAvailability)
					{
						@if (Court.IsAvailable)
						{
							<span class="availability-dot available"></span>
						}
						else
						{
							<span class="availability-dot unavailable"></span>
						}
					}
				</div>
				<div class="court-details">
					<span class="court-type">@Court.Type</span>
					<span class="court-surface">@Court.Surface</span>
				</div>
			</div>
		</div>
	}
</div>

@code {
	[Parameter] public Court Court { get; set; } = default!;
	[Parameter] public EventCallback<Court> OnBook { get; set; }
	[Parameter] public bool ShowFooter { get; set; } = true;
	[Parameter] public bool ShowAvailability { get; set; } = true;
	[Parameter] public bool Compact { get; set; } = false;
	[Parameter] public string? ButtonText { get; set; }
	[Parameter] public string? Background { get; set; }
}
